@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap');

.main-container {
  font-family: 'Open Sans', sans-serif;
  max-width: 1300px !important;
}

img {
  display: block;
  margin: 0 auto; 
  width: 90%;
  border-radius: 16px;
}
